
    <footer>
      <div class="container">
        <div class="row">

          <div class="col-md-5">
            <h3 class="footer-title">Copyright © ZeTour 2016</h3>
          </div>
      </div>
    </footer>

    <!-- JavaScript
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>-->
    <script src="{{site.baseurl}}/static/js/jquery-1.10.2.js"></script>
    <script src="{{site.baseurl}}/static/js/bootstrap.js"></script>
	  <script src="{{site.baseurl}}/static/js/owl.carousel.js"></script>
	  <script src="{{site.baseurl}}/static/js/script.js"></script>
	<!-- StikyMenu -->
  	<script src="{{site.baseurl}}/static/js/stickUp.min.js"></script>
  	<script type="text/javascript">
  	  jQuery(function($) {
  		$(document).ready( function() {
  		  $('.navbar-default').stickUp();

  		});
  	  });

  	</script>
  	<!-- Smoothscroll -->
  	<script type="text/javascript" src="{{site.baseurl}}/static/js/jquery.corner.js"></script>
  	<script src="{{site.baseurl}}/static/js/wow.min.js"></script>
  	<script>
  	 new WOW().init();
  	</script>
  	<script src="{{site.baseurl}}/static/js/classie.js"></script>
  	<script src="{{site.urbaseurll}}/static/js/uiMorphingButton_inflow.js"></script>
  	<!-- Magnific Popup core JS file -->
  	<script src="{{site.baseurl}}/static/js/jquery.magnific-popup.js"></script>

</body>

</html>
