<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>

<!-- FullScreen -->
  <div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.2s">A new way to discover a city</h1>
      <h3 class="h3_home wow fadeIn" data-wow-delay="0.3s">Exciting photo quests in Paris and Berlin</h3>
      <br/>

<!--
      <div class="top_email_form">
          <div class="input-group">
            <input ng-model="user.email" type="email" class="form-control" id="InputEmail" name="InputEmail2" placeholder="Enter Email" required  >
            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
          </div>
      </div>

      <ul class="list-inline intro-social-buttons">
        <li><button ng-click="subscribe()" id="subscribe_news" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Subscribe</span></button>
        </li>
      </ul>
-->

    </div>
      <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="{{site.baseurl}}/static/img/icon/circle.png" alt=""> </a>
      </div>
    </div>

  </div>

<!-- NavBar-->
<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">ZeTour</a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menuItem"><a href="/#whatis">Concept</a></li>
        <li class="menuItem"><a href="/#screen">Challenge process</a></li>
        <li class="menuItem"><a href="/#newsletter">Subscribe</a></li>
        <li class="menuItem"><a href="/#contact">Contact</a></li>
        <li class="menuItem"><a href="/blog">Blog</a></li>
      </ul>
    </div>

  </div>
</nav>
