<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
{% if page.title=='index' %}
  {% include header.html %}
  <body id="home">
  {% include nav.html %}
    {{content}}
  {% include footer.html %}
{% else %}
  {% include headerBlog.html %}
  <body>
  {% include navBlog.html %}
  {{content}}
  {% include footerBlog.html %}
{% endif %}

  {% include ga.html %}
  </body>
</html>
